body {
  height: 100%;
  padding: 15% 0 0 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #c3ff00;
}
h1{
  height: auto;
  display: flex;
  font-size: 6rem;
  color: #006eff;
  justify-content: space-around;
}
p{
  height: auto;
  display: flex;
  font-size: 1.8rem;
  justify-content: space-around;
}
h5{
  margin-top:70px;
  text-align:center;
}
a{
  height: auto;
  display: flex;
  color:rgb(255, 16, 28);
  font-size: 1.5rem;
  text-decoration: none;
  justify-content: space-around;
}
a:hover{
  color:rgb(16, 84, 255)
}